<h1>Risks</h1>
<form>
  <label>Risk Name:</label>
  <input type="text" ng-model='newRisk.name' placeholder="Enter Name of Risk to Be Tracked"><br>
  <label>Risk Description</label>
  <input type="text" ng-model='newRisk.description' placeholder="Describe this risk">
  <input type="submit" value="Add Risk to Project">
</form><br>
{{newRisk.name}}<br>
{{newRisk.description}}