<div class="row">
    <div class="col-xs-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <h1>{{portfolio.name}}</h1>
                <a href='#/portfolio_home/{{portfolio.id}}'>Back to Portfolio Home</a>
            </div>
        </div>
        <div class="panel panel-default">
            <div class=panel-body>
            <ul class="nav nav-pills nav-stacked">
                <li><a ng-model="display" ng-click="display = 'general_portfolio_config'">
                    General Portfolio Configuration</a></li>
                <li><a ng-model="display" ng-click="display = 'portfolio_events'">
                    Portfolio Event Configuration Settings</a></li>
                <li><a ng-model="display" ng-click="display = 'portfolio_risk_controls'">
                    Portfolio Risk Control Settings
                </a></li>
                <li><a ng-model="display" ng-click="display = 'portfolio_risk_statuses'">
                    Portfolio Risk Status Settings
                </a></li>
                <li><a ng-model="display" ng-click="display = 'portfolio_risk_types'">
                    Portfolio Risk Type Settings
                </a></li>
            </ul>
            </div>
        </div>
    </div>
    <div class="col-xs-9">
        <div ng-if="display == 'general_portfolio_config'">
            {{display}}
        </div>
        <div ng-if="display == 'portfolio_events'">
            {{display}}
            <div ng-controller="EventsCtrl">
                <form class="form-inline" role="form" ng-submit="createEvent()">
                    <div class="form-group">
                        <label class="sr-only">Event Name:</label>
                        <input type="text" ng-model='newEvent.name'
                               placeholder="Enter Name of New Event"
                               class="form-control"><br>
                    </div>
                    <div class="form-group">
                        <label class="sr-only">Event Description</label>
                        <input type="text" ng-model='newEvent.description'
                               placeholder="Describe this Event"
                               class="form-control">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="date" ng-model='newEvent.event_date'
                               name='event_date'>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-default" value="Add Event">
                    </div>
                </form>
                <h3>List of {{portfolio.name}} Events:</h3>
                <div class="row" ng-repeat="event in events">
                    <div class="col-xs-9 col-xs-offset-3">
                        {{event.name}} - {{event.description}}
                        <a href='' ng-click="deleteEvent(event.id, $index)">Remove</a>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="display == 'portfolio_risk_controls'">
            {{display}}
            <div ng-controller="RiskControlCatCtrl">
                <form class="form-inline" role="form" ng-submit="createRiskControlCat()">
                    <div class="form-group">
                        <label class="sr-only">Risk Control Category Name:</label>
                        <input type="text" ng-model='newRiskControlCat.name'
                               placeholder="Enter Name of Risk Control Category"
                               class="form-control"><br>
                    </div>
                    <div class="form-group">
                        <label class="sr-only">Risk Control Category Description</label>
                        <input type="text" ng-model='newRiskControlCat.description'
                               placeholder="Describe this Risk Control Category"
                               class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-default" value="Add Risk Control Category">
                    </div>
                </form>
                <h3>List of {{portfolio.name}} Risk Control Categories:</h3>
                <div class="row" ng-repeat="risk_control_category in risk_control_categories">
                    <div class="col-xs-9 col-xs-offset-3">
                        {{risk_control_category.name}} - {{risk_control_category.description}}
                        <a href='' ng-click="deleteRiskControlCat(risk_control_category.id, $index)">Remove</a>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="display == 'portfolio_risk_statuses'">
            {{display}}
        </div>
        <div ng-if="display == 'portfolio_risk_types'">
            {{display}}
        </div>
    </div>
</div>


