<div class="container-fluid">
<div class="row">
<div class="col-xs-3">
    <div class="panel panel-default">
        <div class="panel-body">
            <h1>{{portfolio.name}}</h1>
            <h5>Total Portfolio Exposure: {{portfolio.total_exposure}}</h5>
            <h6><a ng-click="display = 'short_term_risks'">
                Short Term Exposure: {{portfolio.short_term_exposure}}</a></h6>
            <h6><a ng-click="display = 'mid_term_risks'">
                Mid Term Exposure: {{portfolio.mid_term_exposure}}</a></h6>
            <h6><a ng-click="display = 'long_term_risks'">
                Long Term Exposure: {{portfolio.long_term_exposure}}</a></h6><br>
            <a href='#/'>Back to Portfolio Home</a><br>
            <a href='#/edit_portfolio/{{portfolio.id}}'>Configure Portfolio</a><br>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <ul class="nav nav-pills nav-stacked">
                <li><a ng-model="display" ng-click="display = 'portfolio_dashboard'; side_display = ''">
                    Portfolio Dashboard</a></li>
                <li><a ng-model="display" ng-click="display = 'portfolio_risks'; side_display = 'risk_menu'">
                    Portfolio Risks</a></li>
                <ul class="nav nav-pills nav-stacked" ng-show="side_display == 'risk_menu'">
                    <form class="form-inline center-block">
                        <div class="form-group">
                            <input class= "form-control" ng-model="query" placeholder="Search risks">
                        </div>
                        <div class="form-group">
                            <select class="form-control" ng-model="orderProp">
                                <small>Sort Risks:</small>
                                <option value="name">Alphabetical</option>
                                <option value="impact_rating">Impact Rating</option>
                            </select>
                        </div>
                    </form>
                    <li>
                        <a class="text-center" ng-click="display = 'short_term_risks'">
                            Short Term Risks
                        </a>
                    </li>
                    <li>
                        <a class="text-center" ng-model="display" ng-click="display = 'mid_term_risks'">
                            Mid Term Risks
                        </a>
                    </li>
                    <li>
                        <a class="text-center" ng-model="display" ng-click="display = 'long_term_risks'">
                            Long Term Risks
                        </a>
                    </li>
                </ul>
                <li><a ng-model="display" ng-click="side_display = 'portfolio_project_menu'">
                    Portfolio Projects</a></li>
                <ul ng-show="side_display == 'portfolio_project_menu'" class="nav nav-pills nav-stacked">
                    <li ng-repeat="project in portfolio.projects">
                        <a class="text-center" href='#/project_home/{{project.id}}'>Link to {{project.name}} Home</a>
                    </li>
                    <li><a class="text-center" ng-click="display = 'new_project'">New Project</a></li>
                </ul>
            </ul>
        </div>
    </div>
</div>
<button class="btn btn-default btn-lg pull-right" ng-click="display = 'new_risk'">Add Risk</button>
<div class="col-xs-9">
<div ng-if="display == 'portfolio_dashboard'">
    <div class="row">
        <div class="col-xs-6">
            <highchart config="pieChartConfig"></highchart>
        </div>
        <div class="col-xs-6">
            <highchart config="barChartConfig"></highchart>
        </div>
    </div>
    <div class="row">
        <highchart config="scatterPlotConfig"></highchart>
    </div>
</div>
<div ng-if="display == 'portfolio_risks'">
    <div class="RisksCtrl">
        <ul class="list-group"  ng-repeat="risk in portfolio.risks | filter:query | orderBy:orderProp ">
            <li class="list-group-item">
                <h3 class="pull-right">Exposure: {{risk.exposure}}</h3>
                <h2>{{risk.name}}</h2>
                <p class="small">Risk Probability:</p>
                <div class="progress progress-striped active">
                    <div class="progress-bar" role="progressbar"
                         aria-valuemin="0" aria-valuemax="100"
                         style="width:{{risk.probability * 100}}%">
                    </div>
                </div>
                <p class="small">Risk Impact:</p>
                <div class="progress progress-striped active">
                    <div class="progress-bar progress-bar-danger" role="progressbar"
                         are-valuenow="{{risk.impact_rating}}"
                         aria-valuemin="0" aria-valuemax="10"
                         style="width:{{risk.impact_rating}}%">
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div ng-if="display == 'short_term_risks'">
    <div class="RisksCtrl">
        <ul class="list-group"  ng-repeat="risk in portfolio.short_term_risks | filter:query | orderBy:orderProp ">
            <li class="list-group-item">
                <h3 class="pull-right">Exposure: {{risk.exposure}}</h3>
                <h2>{{risk.name}}</h2>
                <p class="small">Risk Probability:</p>
                <div class="progress progress-striped active">
                    <div class="progress-bar" role="progressbar"
                         aria-valuemin="0" aria-valuemax="100"
                         style="width:{{risk.probability * 100}}%">
                    </div>
                </div>
                <p class="small">Risk Impact:</p>
                <div class="progress progress-striped active">
                    <div class="progress-bar progress-bar-danger" role="progressbar"
                         are-valuenow="{{risk.impact_rating}}"
                         aria-valuemin="0" aria-valuemax="10"
                         style="width:{{risk.impact_rating}}%">
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div ng-if="display == 'mid_term_risks'">
    <div class="RisksCtrl">
        <ul class="list-group"  ng-repeat="risk in portfolio.mid_term_risks | filter:query | orderBy:orderProp ">
            <li class="list-group-item">
                <h3 class="pull-right">Exposure: {{risk.exposure}}</h3>
                <h2>{{risk.name}}</h2>
                <p class="small">Risk Probability:</p>
                <div class="progress progress-striped active">
                    <div class="progress-bar" role="progressbar"
                         aria-valuemin="0" aria-valuemax="100"
                         style="width:{{risk.probability * 100}}%">
                    </div>
                </div>
                <p class="small">Risk Impact:</p>
                <div class="progress progress-striped active">
                    <div class="progress-bar progress-bar-danger" role="progressbar"
                         are-valuenow="{{risk.impact_rating}}"
                         aria-valuemin="0" aria-valuemax="10"
                         style="width:{{risk.impact_rating}}%">
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div ng-if="display == 'long_term_risks'">
    <div class="RisksCtrl">
        <ul class="list-group"  ng-repeat="risk in portfolio.long_term_risks | filter:query | orderBy:orderProp ">
            <li class="list-group-item">
                <h3 class="pull-right">Exposure: {{risk.exposure}}</h3>
                <h2>{{risk.name}}</h2>
                <p class="small">Risk Probability:</p>
                <div class="progress progress-striped active">
                    <div class="progress-bar" role="progressbar"
                         aria-valuemin="0" aria-valuemax="100"
                         style="width:{{risk.probability * 100}}%">
                    </div>
                </div>
                <p class="small">Risk Impact:</p>
                <div class="progress progress-striped active">
                    <div class="progress-bar progress-bar-danger" role="progressbar"
                         are-valuenow="{{risk.impact_rating}}"
                         aria-valuemin="0" aria-valuemax="10"
                         style="width:{{risk.impact_rating}}%">
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div ng-if="display == 'new_project'">
    <div ng-controller="ProjectsCtrl">
        <h4>Add New Project</h4>
        <form ng-submit="createProject()">
            <label>Project Name:</label>
            <input class="form-control" type="text" ng-model='newProject.name'
                   placeholder="Enter Name of New Project"><br>
            <label>Project Description</label>
            <input class="form-control" type="text" ng-model='newProject.description'
                   placeholder="Describe this Project">
            <input type="submit" value="Add Project">
        </form>
    </div>
</div>
<div ng-if="display == 'new_risk'">
    <div ng-controller="RisksCtrl">
        <form class="form-horizontal" ng-submit="createRisk()">
            <div class="col-xs-2">
                <div class="form-group">
                        <select class="form-control"
                                ng-model="newRisk.project_id"
                                ng-options="project.id as project.name for
                                project in portfolio.projects">
                            <option value="">-- Choose Project --</option>
                        </select>
                </div>
                <div class="form-group">
                    <label>Risk Name:</label><br>
                    <input  class="form-control"
                            type="text"
                           ng-model='newRisk.name'
                           placeholder="Enter Name of Risk to Be Tracked"><br>
                </div>
                <div class="form-group">
                    <label>Risk Description:</label><br>
                    <textarea class="form-control" rows="8" columns ="5" ng-model='newRisk.description'
                              placeholder="Describe this risk"></textarea>
                </div>
            </div>
            <div class="col-xs-5">
                <div class="form-group">
                    <div class="radio">
                        <label>
                            <input type="radio" ng-model="newRisk.critical" value="true">
                            <small>Check this box if the risk critically affects the ability to complete
                                the task/project</small>
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" ng-model="newRisk.critical" value="false">
                            <small>The risk is not critical.</small>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label>Risk Impact on Schedule</label><br>
                    <p>The amount of extra days that will be required to complete the task
                        if the risk happens:</p>
                    <input ng-model="newRisk.schedule_impact" type="number">
                </div>
                <div class="form-group">
                    <label>Risk Potential Impact on Project:</label>
                    <input ng-model="newRisk.impact_rating" type="range"
                           name="impact_rating" min="1" max="100">
                </div>
                <div class="form-group">
                    <label>Probability of Risk Occurring</label>
                    <input ng-model="newRisk.probability" type="range"
                           name="probability" min="1" max="100">
                </div>

            </div>
            <div class="col-xs-5">
                <div class="form-group">
                    <label>The earliest possible date a risk will occur:</label>
                    <details>This the first possible date that the risk will come to fruition if
                        it is not managed.</details>
                    <input type="date" ng-model='newRisk.early_impact_date' name="early_impact_date">
                </div>
                <div class="form-group">
                    <label>The date when the risk will not occur:</label>
                    <input type="date" ng-model='newRisk.late_impact_date' name="early_impact_date">
                </div>
                <div class="form-group" ng-controller="RiskStatusesCtrl">
                    <select class="form-control"
                            ng-model="newRisk.risk_status_id"
                            ng-options="risk_status.id as risk_status.name for
                             risk_status in portfolio.risk_statuses">
                        <option value="">--Chose Risk Status Type --</option>
                    </select>
                </div>
                <div class="form-group" ng-controller="RiskTypesCtrl">
                    <select class="form-control" ng-model="newRisk.risk_type_id"
                            ng-options="risk_type.id as risk_type.name for
                            risk_type in portfolio.risk_types">
                        <option value="">--Chose Risk Type --</option>
                    </select>
                </div>
                <div class="form-group" ng-controller="RiskControlCatsCtrl">
                    <select class="form-control" ng-model="newRisk.risk_control_category_id"
                            ng-options="risk_control_category.id as risk_control_category.name
                            for risk_control_category
                            in portfolio.risk_control_categories">
                        <option value="">--Chose Risk Control Category Type --</option>
                    </select>
                </div>

                <div class="form-group">
                    <input type="submit" value="Add Risk to Project"><br>
                </div>
            </div>
        </form>
    </div>
</div>
</div>
</div>
</div>