<div class="row">
    <div class="col-xs-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <h1>{{portfolio.name}}</h1>
                <a href='#/'>Back to Portfolio Home</a><br>
                <a href='#/edit_portfolio/{{portfolio.id}}'>Configure Portfolio</a><br>
                <div class="ProjectsCtrl">
                    <h5>{{portfolio.name}} Projects:</h5>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <ul class="nav nav-pills nav-stacked">
                    <li><a ng-model="display" ng-click="display = 'portfolio_dashboard'; side_display = ''">
                        Portfolio Dashboard</a></li>
                    <li><a ng-model="display" ng-click="display = 'portfolio_risks'; side_display = 'risk_menu'">
                        Portfolio Risks</a></li>
                        <ul class="nav nav-pills nav-stacked" ng-show="side_display == 'risk_menu'">
                            <li>
                                <a class="text-center" display" ng-click="display = 'short_term_risks'">
                                    Short Term Risks
                                </a>
                            </li>
                            <li>
                                <a class="text-center" ng-model="display" ng-click="display = 'mid_term_risks'">
                                    Mid Term Risks
                                </a>
                            </li>
                            <li>
                                <a class="text-center" ng-model="display" ng-click="display = 'long_term_risks'">
                                    Long Term Risks
                                </a>
                            </li>
                        </ul>
                    <li><a ng-model="display" ng-click="display = 'portfolio_projects';
                    side_display = 'portfolio_project_menu'">
                        Portfolio Projects</a></li>
                        <ul ng-show="side_display == 'portfolio_project_menu'" class="nav nav-pills nav-stacked">
                            <li ng-repeat="project in portfolio.projects">
                                <a class="text-center" href='#/project_home/{{project.id}}'>Link to {{project.name}} Home</a>
                            </li>
                        </ul>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xs-9">
        <div ng-if="display == 'portfolio_dashboard'">
            <highchart id="chart1" config="chartConfig" class="span" ></highchart>
        </div>
        <div ng-if="display == 'portfolio_risks'">
            <div class="RisksCtrl">
            <form class="form-inline center-block">
                <div class="form-group">
                    <input class= "form-control" ng-model="query" placeholder="Search risks">
                </div>
                <div class="form-group">
                    <select class="form-control" ng-model="orderProp">
                        <small>Sort Risks:</small>
                        <option value="name">Alphabetical</option>
                        <option value="impact_rating">Impact Rating</option>
                    </select>
                </div>
            </form>
            <div ng-repeat="risk in portfolio.risks | filter:query | orderBy:orderProp ">
                <div class="row">
                    <div class="col-xs-8">
                        <!-- <h4>Risk:</h4> -->
                        <p class="lead">{{risk.name}}</p>
                        <p class="small">{{risk.description}}</p><br>
                        <strong>Impact (out of 10): {{risk.impact_rating}}</strong>
                        <div class="progress progress-striped active">
                            <div class="progress-bar progress-bar-danger" role="progressbar"
                                 are-valuenow="{{risk.impact_rating}}"
                                 aria-valuemin="0" aria-valuemax="10"
                                 style="width:{{risk.impact_rating}}%">
                            </div>
                        </div>
                        <strong>Probability of Impact: {{risk.probability}} %</strong>
                        <div class="progress progress-striped active">
                            <div class="progress-bar" role="progressbar"
                                 aria-valuemin="0" aria-valuemax="100"
                                 style="width:{{risk.probability}}%">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <bold>Earliest Possible Impact:</bold>
                        <p>{{risk.early_impact_date | date:'MMM-dd-yyyy'}}</p>
                        <bold>Latest Possible Impact:</bold>
                        <p>{{risk.late_impact_date | date:'MMM-dd-yyyy'}}</p>
                        <a href='' ng-click="deleteRisk(risk.id, $index)">Remove</a>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <div ng-if="display == 'short_term_risks'">
            <div class="RisksCtrl">
                <div ng-repeat="risk in portfolio.short_term_risks">
                    <div class="row">
                        <div class="col-xs-8">
                            <!-- <h4>Risk:</h4> -->
                            <p class="lead">{{risk.name}}</p>
                            <p class="small">{{risk.description}}</p><br>
                            <strong>Impact (out of 10): {{risk.impact_rating}}</strong>
                            <div class="progress progress-striped active">
                                <div class="progress-bar progress-bar-danger" role="progressbar"
                                     are-valuenow="{{risk.impact_rating}}"
                                     aria-valuemin="0" aria-valuemax="10"
                                     style="width:{{risk.impact_rating}}%">
                                </div>
                            </div>
                            <strong>Probability of Impact: {{risk.probability}} %</strong>
                            <div class="progress progress-striped active">
                                <div class="progress-bar" role="progressbar"
                                     aria-valuemin="0" aria-valuemax="100"
                                     style="width:{{risk.probability}}%">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <bold>Earliest Possible Impact:</bold>
                            <p>{{risk.early_impact_date | date:'MMM-dd-yyyy'}}</p>
                            <bold>Latest Possible Impact:</bold>
                            <p>{{risk.late_impact_date | date:'MMM-dd-yyyy'}}</p>
                            <a href='' ng-click="deleteRisk(risk.id, $index)">Remove</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="display == 'mid_term_risks'">
            <div ng-repeat="risk in portfolio.mid_term_risks">
                <div class="row">
                    <div class="col-xs-8">
                        <!-- <h4>Risk:</h4> -->
                        <p class="lead">{{risk.name}}</p>
                        <p class="small">{{risk.description}}</p><br>
                        <strong>Impact (out of 10): {{risk.impact_rating}}</strong>
                        <div class="progress progress-striped active">
                            <div class="progress-bar progress-bar-danger" role="progressbar"
                                 are-valuenow="{{risk.impact_rating}}"
                                 aria-valuemin="0" aria-valuemax="10"
                                 style="width:{{risk.impact_rating}}%">
                            </div>
                        </div>
                        <strong>Probability of Impact: {{risk.probability}} %</strong>
                        <div class="progress progress-striped active">
                            <div class="progress-bar" role="progressbar"
                                 aria-valuemin="0" aria-valuemax="100"
                                 style="width:{{risk.probability}}%">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <bold>Earliest Possible Impact:</bold>
                        <p>{{risk.early_impact_date | date:'MMM-dd-yyyy'}}</p>
                        <bold>Latest Possible Impact:</bold>
                        <p>{{risk.late_impact_date | date:'MMM-dd-yyyy'}}</p>
                        <a href='' ng-click="deleteRisk(risk.id, $index)">Remove</a>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="display == 'long_term_risks'">
            <div ng-repeat="risk in portfolio.long_term_risks">
                <div class="row">
                    <div class="col-xs-8">
                        <!-- <h4>Risk:</h4> -->
                        <p class="lead">{{risk.name}}</p>
                        <p class="small">{{risk.description}}</p><br>
                        <strong>Impact (out of 10): {{risk.impact_rating}}</strong>
                        <div class="progress progress-striped active">
                            <div class="progress-bar progress-bar-danger" role="progressbar"
                                 are-valuenow="{{risk.impact_rating}}"
                                 aria-valuemin="0" aria-valuemax="10"
                                 style="width:{{risk.impact_rating}}%">
                            </div>
                        </div>
                        <strong>Probability of Impact: {{risk.probability}} %</strong>
                        <div class="progress progress-striped active">
                            <div class="progress-bar" role="progressbar"
                                 aria-valuemin="0" aria-valuemax="100"
                                 style="width:{{risk.probability}}%">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <bold>Earliest Possible Impact:</bold>
                        <p>{{risk.early_impact_date | date:'MMM-dd-yyyy'}}</p>
                        <bold>Latest Possible Impact:</bold>
                        <p>{{risk.late_impact_date | date:'MMM-dd-yyyy'}}</p>
                        <a href='' ng-click="deleteRisk(risk.id, $index)">Remove</a>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="display == 'portfolio_projects'">
            <div ng-controller="ProjectsCtrl">
                <h4>Add New Project</h4>
                <form ng-submit="createProject()">
                    <label>Project Name:</label>
                    <input class="form-control" type="text" ng-model='newProject.name'
                           placeholder="Enter Name of New Project"><br>
                    <label>Project Description</label>
                    <input class="form-control" type="text" ng-model='newProject.description'
                           placeholder="Describe this Project">
                    <input type="submit" value="Add Project">
                </form>
            </div>
        </div>
    </div>
</div>





