<div class="container-fluid">
    <div class="row">
        <div class="col-xs-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h1>{{risk.name}}</h1>
                    <h5>{{risk.owner}}</h5>
                    <h5>Probability: {{risk.probability * 100}}</h5>
                    <h5>Impact: {{risk.impact_rating}}</h5>
                    <h5>Exposure: {{risk.exposure}}</h5>
                    <h5>Early Impact Date: {{risk.early_impact_date | date:'MMM-dd-yyyy'}}</h5>
                    <h5>Late Impact Date: {{risk.late_impact_date | date:'MMM-dd-yyyy' }}</h5><br>
                    <a href='#/portfolio_home/{{risk.portfolio_id}}'>Back to Risk Portfolio</a>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li><a ng-click="display = 'risk_history'">Risk History</a></li>
                        <li><a ng-click="display = 'edit_risk'">Edit Risk</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div ng-if="display == 'risk_history'" class="col-xs-9">
            <h1>Risk Exposure History</h1>
            <ul ng-repeat="risk in risk_historicals | orderBy:created_at">
                <li>{{risk.created_at | date:'h:mm:ss a - EEEE, MMMM, dd, yyyy'}} - {{risk.exposure}}</li>
            </ul>
        </div>
        <div ng-if="display == 'edit_risk'" class="col-xs-9">
            <div ng-controller="RisksCtrl">
                <form class="form-horizontal" ng-submit="updateRisk()">
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label>Risk Owner:</label><br>
                            <input  class="form-control"
                                    type="text"
                                    ng-model='updatedRisk.owner'
                                    placeholder="Who is responsible for risk?" required><br>
                        </div>
                    </div>
                    <div class="col-xs-5">
                        <div class="form-group">
                            <div class="radio">
                                <label>
                                    <input type="radio" ng-model="updatedRisk.critical" value="true">
                                    <small>Check this box if the risk critically affects the ability to complete
                                        the task/project</small>
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" ng-model="updatedRisk.critical" value="false">
                                    <small>The risk is not critical.</small>
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Risk Impact on Schedule</label><br>
                            <p>The amount of extra days that will be required to complete the task
                                if the risk happens:</p>
                            <input ng-model="updatedRisk.schedule_impact" type="number">
                        </div>
                        <div class="form-group">
                            <label>Risk Potential Impact on Project (required):</label>
                            <input ng-model="updatedRisk.impact_rating"
                                   type="range"
                                   name="impact_rating"
                                   min="1"
                                   max="100">
                        </div>
                        <div class="form-group">
                            <label>Probability of Risk Occurring (required):</label>
                            <input ng-model="updatedRisk.probability" type="range"
                                   name="probability" min="1" max="100">
                        </div>

                    </div>
                    <div class="col-xs-5">
                        <div class="form-group">
                            <label>The earliest possible date a risk will occur (required):</label>
                            <details>This the first possible date that the risk will come to fruition if
                                it is not managed.</details>
                            <input type="date" ng-model='updatedRisk.early_impact_date' name="early_impact_date" required>
                        </div>
                        <div class="form-group">
                            <label>The date when the risk will not occur (required):</label>
                            <input type="date" ng-model='updatedRisk.late_impact_date' name="early_impact_date" required>
                        </div>
                        <div class="form-group" ng-controller="RiskStatusesCtrl">
                            <select class="form-control"
                                    ng-model="updatedRisk.risk_status_id"
                                    ng-options="risk_status.id as risk_status.name for
                             risk_status in portfolio.risk_statuses">
                                <option value="">--Chose Risk Status Type --</option>
                            </select>
                        </div>
                        <div class="form-group" ng-controller="RiskTypesCtrl">
                            <select class="form-control" ng-model="updatedRisk.risk_type_id"
                                    ng-options="risk_type.id as risk_type.name for
                            risk_type in portfolio.risk_types">
                                <option value="">--Chose Risk Type --</option>
                            </select>
                        </div>
                        <div class="form-group" ng-controller="RiskControlCatsCtrl">
                            <select class="form-control" ng-model="updatedRisk.risk_control_category_id"
                                    ng-options="risk_control_category.id as risk_control_category.name
                            for risk_control_category
                            in portfolio.risk_control_categories">
                                <option value="">--Chose Risk Control Category Type --</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary" ng-if="
                                  updatedRisk.owner != null &&
                                  updatedRisk.impact_rating != null &&
                                  updatedRisk.early_impact_date != null &&
                                  updatedRisk.late_impact_date != null &&
                                  updatedRisk.probability != null"
                                    type="submit"
                                    value="Add Risk to Project"
                                    >Add Risk To Portfolio</button><br>

                            <h5 class="text-danger" ng-if="
                                  updatedRisk.owner == null ||
                                  updatedRisk.impact_rating == null ||
                                  updatedRisk.probability == null ||
                                  updatedRisk.early_impact_date == null ||
                                  updatedRisk.late_impact_date == null">Fields Still Required:</h5>
                            <ul ng-if="
                                  updatedRisk.owner == null ||
                                  updatedRisk.impact_rating == null ||
                                  updatedRisk.probability == null ||
                                  updatedRisk.early_impact_date == null ||
                                  updatedRisk.late_impact_date == null">
                                <li ng-if="updatedRisk.owner == null">Risk Owner</li>
                                <li ng-if="updatedRisk.impact_rating == null">Risk Impact Rating</li>
                                <li ng-if="updatedRisk.probability == null">Risk Probability</li>
                                <li ng-if="updatedRisk.early_impact_date == null">Early Impact Date</li>
                                <li ng-if="updatedRisk.late_impact_date == null">Late Impact Date</li>
                            </ul>
                        </div>
                    </div>
                </form>
            </div>
        </div>
</div>
</div>
